In [61]:
#!pip install kaggle

# Завантаження kaggle.json файлу з API ключем
import os
import json
import shutil
import kaggle

kaggle_json_path = os.path.expanduser('~/.kaggle/kaggle.json')
# kaggle_json_path = 'kaggle.json'
target_path = os.path.expanduser('~/.kaggle/kaggle.json')
# Ensure the .kaggle directory exists
# os.makedirs(os.path.expanduser('~/.kaggle'), exist_ok=True)
os.makedirs(os.path.expanduser('~/.kaggle'), exist_ok=True)
# Copy the kaggle.json file to the .kaggle directory
#with open(kaggle_json_path, 'r') as f:
#    kaggle_data = json.load(f)

#with open(os.path.expanduser('~/.kaggle/kaggle.json'), 'w') as f:
#    json.dump(kaggle_data, f)

# Set permissions for the kaggle.json file
#os.chmod(os.path.expanduser('~/.kaggle/kaggle.json'), 0o600)
#shutil.copyfile(kaggle_json_path, target_path)

os.chmod(target_path, 0o600)

# Перевірка доступності API ключа шляхом завантаження загальнодоступного датасету
# !kaggle datasets download -d zynicide/wine-reviews

!kaggle datasets download -d zynicide/wine-reviews -p .

Dataset URL: https://www.kaggle.com/datasets/zynicide/wine-reviews
License(s): CC-BY-NC-SA-4.0
wine-reviews.zip: Skipping, found more recently modified local copy (use --force to force download)

In [62]:
import zipfile

with zipfile.ZipFile('wine-reviews.zip', 'r') as zip_ref:
    zip_ref.extractall('.')

In [63]:
import pandas as pd

# Завантажте дані з CSV файлу у DataFrame
wine_data = pd.read_csv('winemag-data_first150k.csv')

# Викличте метод describe для DataFrame
wine_data.describe()

          Unnamed: 0         points          price
count  150930.000000  150930.000000  137235.000000
mean    75464.500000      87.888418      33.131482
std     43569.882402       3.222392      36.322536
min         0.000000      80.000000       4.000000
25%     37732.250000      86.000000      16.000000
50%     75464.500000      88.000000      24.000000
75%    113196.750000      90.000000      40.000000
max    150929.000000     100.000000    2300.000000

In [49]:
wine_data.head()
print(wine_data.head())

   Unnamed: 0 country                                        description  \
0           0      US  This tremendous 100% varietal wine hails from ...
1           1   Spain  Ripe aromas of fig, blackberry and cassis are ...
2           2      US  Mac Watson honors the memory of a wine once ma...
3           3      US  This spent 20 months in 30% new French oak, an...
4           4  France  This is the top wine from La Bégude, named aft...

                            designation  points  price        province  \
0                     Martha's Vineyard      96  235.0      California
1  Carodorum Selección Especial Reserva      96  110.0  Northern Spain
2         Special Selected Late Harvest      96   90.0      California
3                               Reserve      96   65.0          Oregon
4                            La Brûlade      95   66.0        Provence

            region_1           region_2             variety  \
0        Napa Valley               Napa  Cabernet Sauvignon
1               Toro                NaN       Tinta de Toro
2     Knights Valley             Sonoma     Sauvignon Blanc
3  Willamette Valley  Willamette Valley          Pinot Noir
4             Bandol                NaN  Provence red blend

                    winery
0                    Heitz
1  Bodega Carmen Rodríguez
2                 Macauley
3                    Ponzi
4     Domaine de la Bégude

In [50]:
wine_data.tail()
print(wine_data.tail())

        Unnamed: 0 country                                        description  \
150925      150925   Italy  Many people feel Fiano represents southern Ita...
150926      150926  France  Offers an intriguing nose with ginger, lime an...
150927      150927   Italy  This classic example comes from a cru vineyard...
150928      150928  France  A perfect salmon shade, with scents of peaches...
150929      150929   Italy  More Pinot Grigios should taste like this. A r...

            designation  points  price            province           region_1  \
150925              NaN      91   20.0      Southern Italy  Fiano di Avellino
150926   Cuvée Prestige      91   27.0           Champagne          Champagne
150927    Terre di Dora      91   20.0      Southern Italy  Fiano di Avellino
150928  Grand Brut Rosé      90   52.0           Champagne          Champagne
150929              NaN      90   15.0  Northeastern Italy         Alto Adige

       region_2          variety                 winery
150925      NaN      White Blend  Feudi di San Gregorio
150926      NaN  Champagne Blend              H.Germain
150927      NaN      White Blend              Terredora
150928      NaN  Champagne Blend                 Gosset
150929      NaN     Pinot Grigio          Alois Lageder

In [64]:
wine_data['price'].head(10)

0    235.0
1    110.0
2     90.0
3     65.0
4     66.0
5     73.0
6     65.0
7    110.0
8     65.0
9     60.0
Name: price, dtype: float64

In [66]:
#wine_data['country'].head(10)
unique_countries = wine_data['country'].unique()
print(f"\nУнікальні країни: {unique_countries}")

Унікальні країни: ['US' 'Spain' 'France' 'Italy' 'New Zealand' 'Bulgaria' 'Argentina'
 'Australia' 'Portugal' 'Israel' 'South Africa' 'Greece' 'Chile' 'Morocco'
 'Romania' 'Germany' 'Canada' 'Moldova' 'Hungary' 'Austria' 'Croatia'
 'Slovenia' nan 'India' 'Turkey' 'Macedonia' 'Lebanon' 'Serbia' 'Uruguay'
 'Switzerland' 'Albania' 'Bosnia and Herzegovina' 'Brazil' 'Cyprus'
 'Lithuania' 'Japan' 'China' 'South Korea' 'Ukraine' 'England' 'Mexico'
 'Georgia' 'Montenegro' 'Luxembourg' 'Slovakia' 'Czech Republic' 'Egypt'
 'Tunisia' 'US-France']

In [67]:
wine_data['country'].head(15)
# Перевіримо, чи немає якихось проблем з даними
print("\nПерші 15 рядків колонки 'country':")
print(wine_data['country'].head(15))
# Перевіримо кількість унікальних значень в колонці 'country'
unique_countries = wine_data['country'].unique()
print(f"\nУнікальні країни: {unique_countries}")
print(f"\nКількість унікальних країн: {len(unique_countries)}")

Перші 15 рядків колонки 'country':
0         US
1      Spain
2         US
3         US
4     France
5      Spain
6      Spain
7      Spain
8         US
9         US
10     Italy
11        US
12        US
13    France
14        US
Name: country, dtype: object

Унікальні країни: ['US' 'Spain' 'France' 'Italy' 'New Zealand' 'Bulgaria' 'Argentina'
 'Australia' 'Portugal' 'Israel' 'South Africa' 'Greece' 'Chile' 'Morocco'
 'Romania' 'Germany' 'Canada' 'Moldova' 'Hungary' 'Austria' 'Croatia'
 'Slovenia' nan 'India' 'Turkey' 'Macedonia' 'Lebanon' 'Serbia' 'Uruguay'
 'Switzerland' 'Albania' 'Bosnia and Herzegovina' 'Brazil' 'Cyprus'
 'Lithuania' 'Japan' 'China' 'South Korea' 'Ukraine' 'England' 'Mexico'
 'Georgia' 'Montenegro' 'Luxembourg' 'Slovakia' 'Czech Republic' 'Egypt'
 'Tunisia' 'US-France']

Кількість унікальних країн: 49

In [68]:
wine_data['points'].head(10)

0    96
1    96
2    96
3    96
4    95
5    95
6    95
7    95
8    95
9    95
Name: points, dtype: int64

In [69]:
# Групування по стовпцю 'points' і підрахунок середньої ціни
wine_data.groupby('points')['price'].mean()

points
80      17.224236
81      17.665078
82      19.171879
83      18.013604
84      19.367885
85      20.055067
86      21.816528
87      24.588279
88      27.831296
89      32.538375
90      37.357817
91      43.755835
92      52.303609
93      66.425438
94      81.937812
95     108.927012
96     132.350970
97     178.000000
98     232.131579
99     289.525000
100    401.583333
Name: price, dtype: float64

In [70]:
wine_data.describe(include='all')

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
count,150930.000000,150925,150930,105195,150930.000000,137235.000000,150925,125870,60953,150930,150930
unique,NaN,48,97821,30621,NaN,NaN,455,1236,18,632,14810
top,NaN,US,"92-94 Barrel sample. A rounded wine, its tanni...",Reserve,NaN,NaN,California,Napa Valley,Central Coast,Chardonnay,Williams Selyem
freq,NaN,62397,6,2752,NaN,NaN,44508,6209,13057,14482,374
mean,75464.500000,NaN,NaN,NaN,87.888418,33.131482,NaN,NaN,NaN,NaN,NaN
std,43569.882402,NaN,NaN,NaN,3.222392,36.322536,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,80.000000,4.000000,NaN,NaN,NaN,NaN,NaN
25%,37732.250000,NaN,NaN,NaN,86.000000,16.000000,NaN,NaN,NaN,NaN,NaN
50%,75464.500000,NaN,NaN,NaN,88.000000,24.000000,NaN,NaN,NaN,NaN,NaN
75%,113196.750000,NaN,NaN,NaN,90.000000,40.000000,NaN,NaN,NaN,NaN,NaN
max,150929.000000,NaN,NaN,NaN,100.000000,2300.000000,NaN,NaN,NaN,NaN,NaN

In [71]:
wine_data.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'variety', 'winery'],
      dtype='object')

In [79]:
#метод dropna() не змінює DataFrame на місці за замовчуванням
wine_data.dropna(axis=0)
#Зберегти результат в нову змінну
#wine_data_cleaned = wine_data.dropna(axis=0)
#використати параметр inplace=True для зміни DataFrame на місці
wine_data.dropna(axis=0, inplace=True)
#перевірити, чи залишились пусті клітинки
print(wine_data.isnull().sum())

Unnamed: 0     0
country        0
description    0
designation    0
points         0
price          0
province       0
region_1       0
region_2       0
variety        0
winery         0
dtype: int64

In [81]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

# Припустимо, що дані вже завантажені у змінну wine_data

# Вибираємо фічі для навчання
wine_features = ['country', 'points']

# Виконуємо One-Hot Encoding для колонки 'country'
wine_data_encoded = pd.get_dummies(wine_data[wine_features], columns=['country'])

# Перетворимо значення True на 1, а False на 0 у закодованих колонках
for col in wine_data_encoded.columns:
    if wine_data_encoded[col].dtype == 'bool':
        wine_data_encoded[col] = wine_data_encoded[col].astype(int)

# Визначимо цільову змінну (price)
y = wine_data['price']

# Вибираємо фічі для навчання (після кодування)
x = wine_data_encoded

# Перевіримо типи даних у фічах, щоб переконатися, що всі вони числові
print("\nТипи даних у фічах перед навчанням моделі:")
print(x.dtypes)

# Навчимо модель
wine_model = DecisionTreeRegressor(random_state=1)
wine_model.fit(x, y)

print("Модель успішно навчена!")

Типи даних у фічах перед навчанням моделі:
points        int64
country_US    int64
dtype: object
Модель успішно навчена!

In [78]:
# Закодуємо колонку 'country' за допомогою One-Hot Encoding
# wine_data_encoded = pd.get_dummies(wine_data, columns=['country'])
# print(wine_data_encoded.columns)
# Перетворимо значення True на 1, а False на 0 у закодованих колонках
# for col in wine_data_encoded.columns:
#     if wine_data_encoded[col].dtype == 'bool':
#         wine_data_encoded[col] = wine_data_encoded[col].astype(int)

# Перевіримо, які нові колонки були створені
# print("\nНові закодовані колонки:")
# new_columns = [col for col in wine_data_encoded.columns if col.startswith('country_')]
# print(new_columns)

# Виведемо значення нових закодованих колонок для перших кількох рядків
# print("\nЗначення нових закодованих колонок для перших кількох рядків:")
# print(wine_data_encoded[new_columns].head(15))

# Виведемо випадкові рядки, щоб бачити закодовані значення
# print("\nВипадкові рядки після кодування:")
# print(wine_data_encoded[new_columns].sample(10))

Index(['Unnamed: 0', 'description', 'designation', 'points', 'price',
       'province', 'region_1', 'region_2', 'variety', 'winery', 'country_US'],
      dtype='object')

Нові закодовані колонки:
['country_US']

Значення нових закодованих колонок для перших кількох рядків:
    country_US
0            1
2            1
3            1
8            1
9            1
11           1
12           1
14           1
15           1
16           1
19           1
20           1
23           1
24           1
27           1

Випадкові рядки після кодування:
        country_US
139163           1
79427            1
122780           1
131277           1
81535            1
122802           1
94149            1
107267           1
11889            1
12230            1

In [74]:
# y = wine_data.price
# wine_features = ['country', 'points']
# x = wine_data[wine_features]
# x.describe()
# print(x.describe())

# Перевіримо, які фічі ми вибрали
# print(wine_features)

             points
count  39241.000000
mean      88.359981
std        3.438542
min       80.000000
25%       86.000000
50%       88.000000
75%       91.000000
max      100.000000
['country', 'points']

In [77]:
# Перевіримо типи даних у фічах, щоб переконатися, що всі вони числові
# print("\nТипи даних у фічах перед навчанням моделі:")
# print(x.dtypes)

Типи даних у фічах перед навчанням моделі:
country    object
points      int64
dtype: object

In [75]:
# x.head()
p# rint("!!!!!!!??!")

!!!!!!!??!

In [76]:
# from sklearn.tree import DecisionTreeRegressor
# wine_model = DecisionTreeRegressor(random_state=1)
# wine_model.fit(x, y)

ValueError: could not convert string to float: 'US'

In [41]:
#print("Making predictions for the following 5 wines:")
#print(x.head())
#print("The predictions are")
#rint(wine_model.predict(x.head()))
#predictions = wine_model.predict(x.head())
# Виводимо фактичні значення для тих самих будинків
#actual_values = y.head().values
# Порівнюємо передбачення з фактичними значеннями
#comparison = pd.DataFrame({
#      'Pedicted': predictions,
 #     'Actual': actual_values
#})
#print(comparison)

Making predictions for the following 5 wines:
   price  points
0  235.0      96
2   90.0      96
3   65.0      96
8   65.0      95
9   60.0      95
The predictions are
[235.  90.  65.  65.  60.]
$$$$$
   Pedicted  Actual
0     235.0   235.0
1      90.0    90.0
2      65.0    65.0
3      65.0    65.0
4      60.0    60.0

In [82]:
predictions = wine_model.predict(x.head())

print("The predictions are:")
print(predictions)

# Виводимо фактичні значення для тих самих зразків
actual_values = y.head().values

# Порівнюємо передбачення з фактичними значеннями
comparison = pd.DataFrame({
    'Predicted': predictions,
    'Actual': actual_values
})

print("\nComparison of predicted and actual values:")
print(comparison)

The predictions are:
[86.76404494 86.76404494 86.76404494 74.84090909 74.84090909]

Comparison of predicted and actual values:
   Predicted  Actual
0  86.764045   235.0
1  86.764045    90.0
2  86.764045    65.0
3  74.840909    65.0
4  74.840909    60.0